DJANGO_DEBUG=false
DJANGO_ENV=production
DJANGO_SECRET_KEY=NXCg3201224GZg4ujuKnLx5XSdnl0XqKKTDg

DJANGO_ALLOWED_HOSTS=api.asecopro.com
CORS_ALLOWED_ORIGINS=https://app.asecopro.com
CSRF_TRUSTED_ORIGINS=https://app.asecopro.com
FRONTEND_URL=https://app.asecopro.com

DB_ENGINE=django.db.backends.postgresql
DB_NAME=ffi_hr_db
DB_USER=ffi_hr_user
DB_PASSWORD=M@essi2011
DB_HOST=db
DB_PORT=5432

DEFAULT_FROM_EMAIL=no-reply@fficontracting.com
EMAIL_LOGO_PATH=/app/static/email/ffi-logo.png
EMAIL_LOGO_URL=https://app.your-domain.com/logo.png
EMAIL_CONTACT_EMAIL=hr@fficontracting.com
NOTIFICATION_HTTP_TIMEOUT_SECONDS=10

BIRD_API_KEY=NXCg320KWbHGZg4ujuKnLx5XSdnl0XqKKTDg
BIRD_CHANNEL_ID=1743271e-dad7-52ea-ba82-d049daaa5644
BIRD_WORKSPACE_ID=0cf1a6f7-dc30-4171-a934-31f8762915ee
BIRD_WHATSAPP_CHANNEL_ID=8f6fa635-9fb7-525d-9b74-c8cfa4059184
BIRD_API_BASE_URL=https://api.bird.com/workspaces

SECURE_SSL_REDIRECT=true
SESSION_COOKIE_SECURE=true
CSRF_COOKIE_SECURE=true
SECURE_HSTS_SECONDS=31536000
SECURE_HSTS_INCLUDE_SUBDOMAINS=true
SECURE_HSTS_PRELOAD=true
SECURE_REFERRER_POLICY=same-origin
