# Virtual Environment
Backend/.venv/
venv/
ENV/

# Python cache and compiled files
**/__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
/build/
/dist/
*.egg-info/
# Excel temporary and backup files
~$*.xlsx
*.xlsx

# Local test outputs and logs
*.txt
*.postman_collection.json